/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#mapid {
  height: 400px;
  max-width: 600px;
  margin: 2rem auto;
}

#logo {
  float: left;
}

/* this rule overrides some Materialize CSS that breaks with our logo img */
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    transform: unset;
    left: unset;
    -webkit-transform: unset;
  }
}

/* nice display font for the logo */
.brand-logo {
  font-family: "Bangers", cursive;
}

/* Stop underline appearing when hovering over logo/title */
.brand-logo:hover {
  text-decoration: none;
}